/* Estrela Central do Escudo */
.estrela__central{
    display: block;
}
    .forma__trianguloOne{
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,0%);
    
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 50px solid #fff;
    }
    /* Definindo tamanho das pontas da estrela */
    .forma__trianguloTwo,
    .forma__trianguloThree,
    .forma__trianguloFor,
    .forma__trianguloFif{
        width: 0;
        height: 0;

        position: absolute;
        bottom: 0%;
        left: 0%;

        border-left: 20px solid transparent; 
        border-right: 20px solid transparent; 
        border-top:  50px solid #fff; 
    }
    /* Definindo posicionamento das pontas da estrela */
    .forma__trianguloTwo{
        transform: rotate(55deg) translate(0%,-50%) skewX(20deg);
    }
    .forma__trianguloThree{
        transform: rotate(-410deg) translate(145%,100%) skewX(160deg);
    }
    .forma__trianguloFor{
        transform: rotate(271deg) translate(140%, 185%) skewX(382deg);
    }
    .forma__trianguloFif{
        transform: rotate(448deg) translate(-139%, -20%) skewX(875deg);
    }
    /* Fechando o centro da estrela */
    .forma__quadrada{
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        -webkit-border-radius: 30%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        border-radius: 30%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    } 


