.poligon__star--one {
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%,0%);

	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 50px solid #fff;
}

.poligon__star--two,
.poligon__star--three,
.poligon__star--for,
.poligon__star--fifth {
	width: 0;
	height: 0;

	position: absolute;
	bottom: 0%;
	left: 0%;

	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top:  50px solid #fff;
}

.poligon__star--two {
	transform: rotate(55deg) translate(0%,-50%) skewX(20deg);
}
.poligon__star--three {
	transform: rotate(-410deg) translate(145%,100%) skewX(160deg);
}
.poligon__star--for {
	transform: rotate(271deg) translate(140%, 185%) skewX(382deg);
}
.poligon__star--fifth{
	transform: rotate(448deg) translate(-139%, -20%) skewX(875deg);
}

.poligon__star--center {
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border-radius: 30%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


